body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;       
    height: 100%;      
    object-fit: cover; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    color: white;
    padding: 20px;
}

.logo-invert {
    filter: brightness(0) invert(1);
    width: 70%; 
    margin-bottom: 20px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem; 
    color: white;
    margin: 10px 0;
}

h2 {
    font-family: 'Squada One', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
    margin: 5px 0;
}


@media (min-width: 426px) {
    .video {
        width: 100%;
        height: 100%; 
    }

    .overlay {
        justify-content: space-evenly; 
    }

    .logo-invert {
        width: 40%; 
    }

    h1 {
        font-size: 3rem; 
    }

    h2 {
        font-size: 2rem;
    }
}